doctype html
html(ng-app="dashboard", ng-controller="AppCtrl")
  head
    title(ng-bind="pageTitle")
    base(href="/cms/")
    - if (config.public.isSEOBlock)
      meta(name="robots", content="noindex, nofollow")
    meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
    link(href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
    //loop through stylesheets
    each file in files.css
      link(rel="stylesheet", href="#{file}?v=#{version}")
    //loop through javascript files
    each file in files.javascript
      script(type="text/javascript", src="#{file}?v=#{version}")
    //The following scripts error when run through grunt build minification
    script(type="text/javascript", src="vendor/ace-builds/src-min-noconflict/ace.js")
    script(type="text/javascript", src="vendor/ace-builds/src-min-noconflict/mode-json.js")
    script(type="text/javascript", src="vendor/ace-builds/src-min-noconflict/mode-html.js")

    - if (config.public.gaTrackingId)
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    noscript
      div.bg-warning.no-script-warning
        i.fa.fa-warning
        span  Javascript is required.
        p This website needs Javascript to be enabled in your browser to work properly.
body(ui-view)
